<div class="includeViewRoute" ng-controller="EvernoteController">


    <div class="NoteBookNavModal">
        <div class="rightModal"  ng-click="showModal()"></div>
    </div>
    <div class="noteBooksNav" >
        <div class="noteBooks-top">
            <div class="goNoteListNav pull-left" ng-click="showModal()">
                <a class="fa fa-chevron-left"></a><span>返回</span>
            </div>
            <div class="liguwe pull-left">
                <a class="fa">liguwe's evernote</a>
            </div>
        </div>
        <div class="noteBookList pull-left" ng-init="findBookList()">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="bookStack in bookStacks" class="noteBooks-stack"
                    ng-click="isClickStack = !isClickStack"
                    ng-class="{'noteBooks-stack-close':isClickStack,'noteBooks-stack-open':!isClickStack}">
                    <a ng-if="!bookStack.stack" class="noteBooks-stack-a" bookGuid="{{bookStack.book.guid}}"
                       ng-click="clickNoteBookTitle($event)"
                       href="javascript:void(0)">{{bookStack.book.name}}</a>
                    <a ng-if="bookStack.stack" class="noteBooks-stack-a" href="javascript:void(0)">
                        {{bookStack.stack}}
                        <span class="fa"
                                                 ng-class="{'fa-chevron-right':isClickStack,'fa-chevron-down':!isClickStack}"></span>
                    </a>
                    <ul ng-if="bookStack.stack" class="nav nav-pills nav-stacked">
                        <li ng-repeat="book in bookStack.books" class="">
                            <a href="javascript:void (0)" bookGuid="{{book.guid}}"
                               ng-click="clickNoteBookTitle($event)" ng-bind="book.name"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


    <div class="notesNav pull-left" ng-init="findNotesList()">
        <div class="notes-top">
            <div class="goBack pull-left"  ng-click="showModal()">
                <a href="" class="back fa fa-bars"></a>
            </div>
            <div class="noteBookTitle pull-left">
                <a class="fa " href="" ng-bind="notes[0].name"></a>
            </div>
        </div>
        <div class="noteList">
            <ul class="list-group">
                <li class="list-group-item"  ng-repeat="note in notes.slice(1)" ng-class="{'currentNote': currentNote == note.guid}">
                    <a ng-href="/#!/{{note.notebookGuid}}/{{note.guid}}" ng-bind="note.title"></a>
                </li>
            </ul>
        </div>
    </div>


    <div class="content-con  pull-right" ng-init="findOneNote()">
        <div class="content-header">
            <div class="note-title pull-left"><a class="fa" href="" ng-bind="note.title"></a></div>
            <div class="pull-right"><span class="fa fa-expand"></span></div>
        </div>

        <div class="content-body">
            <div class="content-div"  ng-bind-html="renderHtml(note.content)"></div>
        </div>

    </div>
</div>

