<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>liguwe's evernote</title>
    <link href="//cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/note.css"/>
</head>
<body>
<div class="proloadImg" style="display: none">
    <img src="img/page-bg-tile.jpg" alt="">
</div>
<div class="con" ng-view></div>
<script src="//cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
<script src="//cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
<script type="text/javascript" src="js/ngmodules.min.js"></script>
<script type="text/javascript" src="js/evernote.min.js"></script>
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>