<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>liguwe's evernote</title>
    <!--<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css"/>-->
    <!--<link rel="stylesheet" href="lib/angular-loading-bar/build/loading-bar.css">-->
    <link href="//cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/note.min.css"/>
</head>

<body>
<div class="proloadImg" style="display: none">
    <img  src="img/page-bg-tile.jpg" alt="">
</div>

<div class="con" ng-view></div>
</body>
<!-- Load local libraries -->
<!--<script src="//libs.baidu.com/jquery/2.0.3/jquery.min.js"></script>-->

<!--<script type="text/javascript" src="lib/angular/angular.js"></script>-->
<script src="//cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
<!--<script type="text/javascript" src="lib/angular-route/angular-route.js"></script>-->
<!--<script type="text/javascript" src="lib/angular-resource/angular-resource.js"></script>-->
<!--<script src="lib/angular-animate/angular-animate.js"></script>-->
<script src="//cdn.bootcss.com/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="js/ngmodules.min.js"></script>
<script type="text/javascript" src="js/evernote.min.js"></script>




<!-- Load the evernote module -->
<!--<script type="text/javascript" src="evernote/evernote.client.module.js"></script>-->
<!--<script type="text/javascript" src="evernote/controllers/evernote.client.controller.js"></script>-->
<!--<script type="text/javascript" src="evernote/services/evernote.client.service.js"></script>-->
<!--<script type="text/javascript" src="evernote/config/evernote.client.routes.js"></script>-->

<!-- Bootstrap AngularJS application -->


</html>